
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:150px;">
    <div class="row">

        <div class="col-md-3">
            <h3>Project Name</h3>
            <h4>Subheading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            <a href="#" class="btn btn-primary">View Project <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-md-9">
            <a href="#">

                <img src="~/Content/Images/1.jpg" class="img-responsive" width="750" height="330" />
            </a>
        </div>
    </div>

    <div class="row" style="margin-top:100px;">

        <div class="col-md-3">
            <h3>Project Name</h3>
            <h4>Subheading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            <a href="#" class="btn btn-primary">View Project <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-md-9">
            <a href="#">
                <img src="~/Content/Images/2.jpg" class="img-responsive" width="750" height="330" />
            </a>
        </div>
    </div>

    <div class="row" style="margin-top:100px;">

        <div class="col-md-3">
            <h3>Project Name</h3>
            <h4>Subheading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            <a href="#" class="btn btn-primary">View Project <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-md-9">
            <a href="#">
                <img src="~/Content/Images/3.jpg" class="img-responsive" width="750" height="330" />
            </a>
        </div>
    </div>

    <div class="row" style="margin-top:100px;">

        <div class="col-md-3">
            <h3>Project Name</h3>
            <h4>Subheading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            <a href="#" class="btn btn-primary">View Project <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-md-9">
            <a href="#">
                <img src="~/Content/Images/4.jpg" class="img-responsive" width="750" height="330" />
            </a>
        </div>
    </div>



</div>

